*{  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;  
  display: flex;  
} 
header{
  position: fixed;
  top: 0;
}
h1{
  display: flex; 
  justify-content: center;
}
p{
  margin: 10px;
  color: brown;
}
footer{
  display: flex;
  position: fixed;
  bottom: 0;
}
